In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('car.data')

In [3]:
df.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [4]:
df.shape

(1727, 7)

In [5]:
df.columns

Index(['vhigh', 'vhigh.1', '2', '2.1', 'small', 'low', 'unacc'], dtype='object')

In [6]:
df.rename(columns = {'unacc': 'outcome'}, inplace =True)

In [7]:
df.outcome.value_counts()

unacc    1209
acc       384
good       69
vgood      65
Name: outcome, dtype: int64

In [8]:
# convert data as input output

In [9]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [10]:
X

      vhigh vhigh.1      2   2.1  small   low
0     vhigh   vhigh      2     2  small   med
1     vhigh   vhigh      2     2  small  high
2     vhigh   vhigh      2     2    med   low
3     vhigh   vhigh      2     2    med   med
4     vhigh   vhigh      2     2    med  high
...     ...     ...    ...   ...    ...   ...
1722    low     low  5more  more    med   med
1723    low     low  5more  more    med  high
1724    low     low  5more  more    big   low
1725    low     low  5more  more    big   med
1726    low     low  5more  more    big  high

[1727 rows x 6 columns]

In [11]:
y

0       unacc
1       unacc
2       unacc
3       unacc
4       unacc
        ...
1722     good
1723    vgood
1724    unacc
1725     good
1726    vgood
Name: outcome, Length: 1727, dtype: object

### As we see Above data is highly inbalanced

In [12]:
X.columns

Index(['vhigh', 'vhigh.1', '2', '2.1', 'small', 'low'], dtype='object')

In [13]:
from sklearn.preprocessing import LabelEncoder
encode= LabelEncoder()
encode.fit_transform(X[['vhigh']])
#X[['vhigh','vhigh.1','small','low']]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([3, 3, 3, ..., 1, 1, 1])

In [14]:
X[['vhigh','vhigh.1','small','low']] = X[['vhigh','vhigh.1','small','low']].apply(encode.fit_transform)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [15]:
X

      vhigh  vhigh.1      2   2.1  small  low
0         3        3      2     2      2    2
1         3        3      2     2      2    0
2         3        3      2     2      1    1
3         3        3      2     2      1    2
4         3        3      2     2      1    0
...     ...      ...    ...   ...    ...  ...
1722      1        1  5more  more      1    2
1723      1        1  5more  more      1    0
1724      1        1  5more  more      0    1
1725      1        1  5more  more      0    2
1726      1        1  5more  more      0    0

[1727 rows x 6 columns]

In [16]:
X['2'].unique()

array(['2', '3', '4', '5more'], dtype=object)

In [17]:
X['2'] = X['2'].str.rstrip('more')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
X['2.1'].value_counts()

4       576
more    576
2       575
Name: 2.1, dtype: int64

In [19]:
X['2.1'].replace('more','3', inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [20]:
X['2.1']=X['2.1'].astype(int)
X['2']=X['2'].astype(int)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [21]:
X.groupby('2.1').mean()

        vhigh   vhigh.1         2     small  low
2.1
2    1.497391  1.497391  3.502609  0.998261  1.0
3    1.500000  1.500000  3.500000  1.000000  1.0
4    1.500000  1.500000  3.500000  1.000000  1.0

In [22]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   vhigh    1727 non-null   int32
 1   vhigh.1  1727 non-null   int32
 2   2        1727 non-null   int32
 3   2.1      1727 non-null   int32
 4   small    1727 non-null   int32
 5   low      1727 non-null   int32
dtypes: int32(6)
memory usage: 40.6 KB

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [24]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()

In [25]:
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [26]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.9036608863198459

In [27]:
pd.crosstab(y_test, y_pred)

col_0    acc  good  unacc  vgood
outcome
acc       88     3     27      0
good       9     6      2      0
unacc      1     1    359      0
vgood      4     0      3     16

In [28]:
# As we see above the size of data effect in prediction

In [29]:
#Applying SMOTE
# install imblearn

In [30]:
pip install imblearn

Requirement already satisfied: imblearn in c:\programdata\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\programdata\anaconda3\lib\site-packages (from imblearn) (0.9.0)
Requirement already satisfied: scipy>=1.1.0 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.7.3)
Requirement already satisfied: scikit-learn>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.0.2)Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arkupsafe (c:\programdata\anaconda3\lib\site-packages)

Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.0.1)
Requirement already satisfied: numpy>=1.14.6 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.21.5)

In [32]:
from imblearn.over_sampling import SMOTE
smote = SMOTE()

In [42]:
X_train_smote, y_train_smote = smote.fit_resample(X_train.astype('float'),y_train)

In [43]:
from collections import Counter
print('Before SMOTE:' , Counter(y_train))
print('After SMOTE:' , Counter(y_train_smote))

Before SMOTE: Counter({'unacc': 848, 'acc': 266, 'good': 52, 'vgood': 42})
After SMOTE: Counter({'vgood': 848, 'unacc': 848, 'acc': 848, 'good': 848})

In [44]:
model.fit(X_train_smote, y_train_smote)
y_pred = model.predict(X_test)

In [45]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.905587668593449

In [46]:
pd.crosstab(y_test, y_pred)

col_0    acc  good  unacc  vgood
outcome
acc       93     4     19      2
good       2    11      2      2
unacc     13     1    347      0
vgood      2     1      1     19